/* src/components/IndexMain/ModelGrid.css */
.model-grid {
    display: flex;
    justify-content: space-between;
    /* 모델 간 간격을 일정하게 유지 */
    overflow-x: scroll;
    /* 가로 스크롤 가능 */
    padding: 1rem 0;
}

.model-grid::-webkit-scrollbar {
    display: none;
    /* 스크롤바 숨기기 */
}

.model-card {
    flex-shrink: 0;
    /* 모델 카드가 늘어나지 않도록 설정 */
    width: 180px;
    text-align: center;
    margin-right: 1rem;
}

.model-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.model-card button {
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.model-card button:hover {
    background-color: #555;
}